<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
      <div class="ibox-content">
        <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
        <div class="alert alert-success" *ngIf="successmsg">{{ successmsg }}</div>
        <h3>Reset Password</h3>
        <form #forgotForm="ngForm" class="m-t">
          <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              ngModel placeholder="Email" required>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Email is required.
              </div>
              <div *ngIf="email.errors.pattern">
                Please enter correct format. Example: foo@bar.com
              </div>
            </div>
          </div>
          <button [disabled]="!forgotForm.valid" class="btn btn-primary block full-width m-b" (click)="forgot(forgotForm)">Reset Password</button>
        </form>
      </div>
    </div>
  </div>