.background {
    background-size: cover;	
    height: 100%;
    background-image: url('../../assets/images/background.png');
    background-repeat: no-repeat;
    background-position: center;	
}

.white{
    color: white;
}

.h {
    margin-top:40px;
    height: 100px;
}

.bg-white{
    background-color: white;
    width: 350px;
    position: relative;
    left: 60%;
    top: 15%;
    border-radius: 15px;
}

/* .n-p-t{
    padding-top: 0 !important;
} */