<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    <div class="ibox-content">
      <h3>Register</h3>
      <p>Create your account <strong>NOW !</strong></p>
      <form *ngIf="page1" #page1="ngForm" class="m-t">
        <div class="form-group">
          <input type="text" id="name" name="name" #name="ngModel" ngModel class="form-control" placeholder="Name" required minlength="4">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be more than 4 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" name="email" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            ngModel placeholder="Email" required>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Email is required.
            </div>
            <div *ngIf="email.errors.pattern">
              Please enter correct format. Example: foo@bar.com
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="password" id="password" name="password" #password="ngModel" ngModel minlength="6" class="form-control" placeholder="Password"
            required>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
              Password is required.
            </div>
            <div *ngIf="password.errors.minlength">
              Password length must be more than 6
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-secondary block full-width m-b" (click)="page1.reset()">Reset</button>
          </div>
          <div class="col-md-6">
            <button [disabled]="!page1.valid" class="btn btn-primary block full-width m-b" (click)="submit(page1)">Register</button>
          </div>
        </div>
      </form>
      <!-- <form *ngIf="page2" #page2="ngForm" class="m-t">
        <div class="form-group">
          <label for="role">Select your Role</label>
          <div class="row">
            <div id="role" data-toggle="buttons">
              <label class="btn btn-info" [ngClass]="{active : student}">
                <input type="radio" name="student" id="student" (click)="role('student')" [checked]="student"> Student
              </label>
              <label class="btn btn-info" [ngClass]="{active : parents}">
                <input type="radio" name="parents" id="parents" [checked]="parents" (click)="role('parents')"> Parents
              </label>
              <label class="btn btn-info" [ngClass]="{active : teacher}">
                <input type="radio" name="teacher" id="teacher" [checked]="teacher" (click)="role('teacher')"> Teacher
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="school">School Name</label>
          <input type="text" id="school" name="school" #school="ngModel" ngModel required class="form-control">
          <div *ngIf="school.invalid && (school.dirty || school.touched)" class="alert alert-danger">
            <div *ngIf="school.errors.required">
              School Name is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-secondary block full-width m-b" (click)="back()">Back</button>
          </div>
          <div class="col-md-6">
            <button [disabled]="!page2.valid" class="btn btn-primary block full-width m-b" (click)="submitPage2(page2)">Register</button>
          </div>
        </div>
      </form> -->
      <p class="text-muted text-center">
        <small>Already have an account?</small>
      </p>
      <a class="btn btn-sm btn-white btn-block" (click)="loginPage()">Login</a>
    </div>
  </div>
</div>